CONFIG_ION_LIGHT_PIN_INVERTED=n
CONFIG_ION_RELAY_PIN_INVERTED=n

# The scale of the divider, times 1000
CONFIG_ION_DIVIDER_SCALE=11000

# Consider 30V (10s) empty
CONFIG_ION_ADC_EMPTY_MV=30000

# Consider 42V (10s) full
CONFIG_ION_ADC_FULL_MV=41500
